<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-4">
        <app-shimmer>
        <button
          class="btn btn-secondary add_lead_modal_btn"
          (click)="isAddLeadModalOpen = true"
        >
          Add Lead
        </button>
      </app-shimmer>
      </div>
    </div>
    <!-- LEADS TABLE -->
    <app-shimmer>
      <p-table class="leads_table" [value]="leadsData" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Num</th>
            <th>Location Type</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lead>
          <tr>
            <td>{{ lead.first_name }} {{ lead.last_name }}</td>
            <td>{{ lead.email }}</td>
            <td>{{ lead.mobile }}</td>
            <td>{{ lead.location_type }}</td>
            <td>
              <div class="action-buttons">
                <button
                  class="btn btn-secondary update_lead_modal_btn"
                  (click)="openLeadsComunicationModal(lead)"
                >
                  Mark Update
                </button>
                <button
                  class="btn btn-secondary delete_lead_modal_btn"
                  (click)="deleteLead(lead.id)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </app-shimmer>
  </div>


<!-- ADD LEAD MODAL CHILD COMPONENT -->
<app-add-leads-modal
  [displayModal]="isAddLeadModalOpen"
  (closeModalEvent)="modalClosed()"
></app-add-leads-modal>

<!-- MARK COMMUNICATION MODAL CHILD COMPONENT -->
<app-leads-communication-modal
  [displayModal]="isUpdateModalOpen"
  [leadId]="leadId"
  [communication]="leadCommunication"
  (closeModalEvent)="modalClosed()"
></app-leads-communication-modal>

<!-- CONFIRMATION FOR LEAD DELETION -->
<div class="delete_lead_form">
  <p-confirmDialog #cd header="Do you wish to delete this lead?">
    <p-footer>
      <button
        class="delete_lead_btn ui-button-danger"
        type="button"
        pButton
        label="Delete"
        (click)="cd.accept()"
      ></button>
      <button
        class="cancel-button bg-dark"
        type="button"
        pButton
        label="Cancel"
        (click)="cd.reject()"
      ></button>
    </p-footer>
  </p-confirmDialog>
</div>
